[Unit]
Description = My Buzzer and LED daemon

[Service]
ExecStart=/home/pi/systemd/MyBuzzer.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
